spring:
  datasource:
    url: jdbc:mysql://localhost:3306/no_cicd_deploy_local?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: local_user
    password: local_password

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: "LOCAL_TEMP_JWT_SECRET"
